@font-face {
    font-family: icomoon;
    src: url(/static/media/icomoon.15193693.eot);
    src: url(/static/media/icomoon.15193693.eot#iefix) format("embedded-opentype"),url(/static/media/icomoon.55630b76.ttf) format("truetype"),url(/static/media/icomoon.cbef598d.woff) format("woff"),url(/static/media/icomoon.bbb60319.svg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-file-docx:before {
    content: "\E93C"
}

.icon-resize:before {
    content: "\E93B"
}

.icon-flag-uk .path1:before {
    content: "\E900";
    color: #fff
}

.icon-flag-uk .path2:before {
    content: "\E901";
    margin-left: -1em;
    color: #bd0034
}

.icon-flag-uk .path3:before {
    content: "\E902";
    margin-left: -1em;
    color: #bd0034
}

.icon-flag-uk .path4:before {
    content: "\E903";
    margin-left: -1em;
    color: #bd0034
}

.icon-flag-uk .path5:before {
    content: "\E904";
    margin-left: -1em;
    color: #bd0034
}

.icon-flag-uk .path6:before {
    content: "\E905";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path7:before {
    content: "\E906";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path8:before {
    content: "\E907";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path9:before {
    content: "\E908";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path10:before {
    content: "\E909";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path11:before {
    content: "\E90A";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path12:before {
    content: "\E90B";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path13:before {
    content: "\E90C";
    margin-left: -1em;
    color: #1a237b
}

.icon-flag-uk .path14:before {
    content: "\E90D";
    margin-left: -1em;
    color: #bd0034
}

.icon-flag-us .path1:before {
    content: "\E90E";
    color: #cb001c
}

.icon-flag-us .path2:before {
    content: "\E90F";
    margin-left: -1em;
    color: #fff
}

.icon-flag-us .path3:before {
    content: "\E910";
    margin-left: -1em;
    color: #2a3560
}

.icon-flag-us .path4:before {
    content: "\E911";
    margin-left: -1em;
    color: #fff
}

.icon-star:before {
    content: "\E912"
}

.icon-payment:before {
    content: "\E913"
}

.icon-chat:before {
    content: "\E914"
}

.icon-save:before {
    content: "\E915"
}

.icon-gear-star:before {
    content: "\E916"
}

.icon-info:before {
    content: "\E917"
}

.icon-star-hollow:before {
    content: "\E918"
}

.icon-my-brian:before {
    content: "\E919"
}

.icon-star-stylized-half:before {
    content: "\E91A"
}

.icon-arrow-down-angular:before {
    content: "\E91B"
}

.icon-arrow-upangular:before {
    content: "\E91C"
}

.icon-arrow-left-angular:before {
    content: "\E91D"
}

.icon-arrow-right-angular:before {
    content: "\E91E"
}

.icon-head-star:before {
    content: "\E91F"
}

.icon-cross:before {
    content: "\E920"
}

.icon-linear-lock:before {
    content: "\E921"
}

.icon-linear-mail:before {
    content: "\E922"
}

.icon-linear-phone:before {
    content: "\E923"
}

.icon-linear-user:before {
    content: "\E924"
}

.icon-star-stylized:before {
    content: "\E925"
}

.icon-brian:before {
    content: "\E926"
}

.icon-gear:before {
    content: "\E927"
}

.icon-mike:before {
    content: "\E928"
}

.icon-brian-without-badge:before {
    content: "\E929"
}

.icon-brian-with-badge:before {
    content: "\E92A"
}

.icon-alarm:before {
    content: "\E92B"
}

.icon-chat-small:before {
    content: "\E92C"
}

.icon-file:before {
    content: "\E92D"
}

.icon-rabbit:before {
    content: "\E92E"
}

.icon-turtle:before {
    content: "\E92F"
}

.icon-euro:before {
    content: "\E930"
}

.icon-clock:before {
    content: "\E931"
}

.icon-info-hollow:before {
    content: "\E932"
}

.icon-arrow-down-small:before {
    content: "\E933"
}

.icon-arrow-up-small:before {
    content: "\E934"
}

.icon-arrow-left-small:before {
    content: "\E935"
}

.icon-arrow-right-small:before {
    content: "\E936"
}

.icon-arrow-up:before {
    content: "\E937"
}

.icon-arrow-down:before {
    content: "\E938"
}

.icon-arrow-right:before {
    content: "\E939"
}

.icon-arrow-left:before {
    content: "\E93A"
}

.icon-bin:before {
    content: "\E9AC"
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-black;
    src: url(/static/media/Roboto-Black.d8e7a96b.eot);
    src: url(/static/media/Roboto-Black.d8e7a96b.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-Black.8f766bb9.woff) format("woff"),url(/static/media/Roboto-Black.ec4c9962.ttf) format("truetype"),url(/static/media/Roboto-Black.0944310c.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-black-italic;
    src: url(/static/media/Roboto-BlackItalic.81519894.eot);
    src: url(/static/media/Roboto-BlackItalic.81519894.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-BlackItalic.83b2c7d0.woff) format("woff"),url(/static/media/Roboto-BlackItalic.50705c5e.ttf) format("truetype"),url(/static/media/Roboto-BlackItalic.dc9e130f.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-bold;
    src: url(/static/media/Roboto-Bold.470488ec.eot);
    src: url(/static/media/Roboto-Bold.470488ec.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-Bold.eb43b4c3.woff) format("woff"),url(/static/media/Roboto-Bold.ee7b96fa.ttf) format("truetype"),url(/static/media/Roboto-Bold.89a836a2.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-bold-italic;
    src: url(/static/media/Roboto-BoldItalic.15416a59.eot);
    src: url(/static/media/Roboto-BoldItalic.15416a59.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-BoldItalic.563c4bd6.woff) format("woff"),url(/static/media/Roboto-BoldItalic.1eb7a893.ttf) format("truetype"),url(/static/media/Roboto-BoldItalic.4a4d9c22.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-italic;
    src: url(/static/media/Roboto-Italic.fe0db4a9.eot);
    src: url(/static/media/Roboto-Italic.fe0db4a9.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-Italic.6521f388.woff) format("woff"),url(/static/media/Roboto-Italic.42bbe4ee.ttf) format("truetype"),url(/static/media/Roboto-Italic.0b268b43.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-light;
    src: url(/static/media/Roboto-Light.97b9f3ce.eot);
    src: url(/static/media/Roboto-Light.97b9f3ce.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-Light.c8405cfa.woff) format("woff"),url(/static/media/Roboto-Light.fc84e998.ttf) format("truetype"),url(/static/media/Roboto-Light.73fddb2a.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-light-italic;
    src: url(/static/media/Roboto-LightItalic.737360b8.eot);
    src: url(/static/media/Roboto-LightItalic.737360b8.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-LightItalic.f6dd13d5.woff) format("woff"),url(/static/media/Roboto-LightItalic.d1efcd4d.ttf) format("truetype"),url(/static/media/Roboto-LightItalic.ae9864a6.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-medium;
    src: url(/static/media/Roboto-Medium.0c23004a.eot);
    src: url(/static/media/Roboto-Medium.0c23004a.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-Medium.7b225d4d.woff) format("woff"),url(/static/media/Roboto-Medium.d0884059.ttf) format("truetype"),url(/static/media/Roboto-Medium.81c46869.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-medium-italic;
    src: url(/static/media/Roboto-MediumItalic.667173a8.eot);
    src: url(/static/media/Roboto-MediumItalic.667173a8.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-MediumItalic.5df7f053.woff) format("woff"),url(/static/media/Roboto-MediumItalic.bd19ad60.ttf) format("truetype"),url(/static/media/Roboto-MediumItalic.bfa36af9.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto;
    src: url(/static/media/Roboto-Regular.947d4eb3.eot);
    src: url(/static/media/Roboto-Regular.947d4eb3.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-Regular.878ad715.woff) format("woff"),url(/static/media/Roboto-Regular.3e1af3ef.ttf) format("truetype"),url(/static/media/Roboto-Regular.a1bb3f4a.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-thin;
    src: url(/static/media/Roboto-Thin.1869e98f.eot);
    src: url(/static/media/Roboto-Thin.1869e98f.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-Thin.03fb3a93.woff) format("woff"),url(/static/media/Roboto-Thin.89e2666c.ttf) format("truetype"),url(/static/media/Roboto-Thin.20992c67.svg) format("svg")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: roboto-thin-italic;
    src: url(/static/media/Roboto-ThinItalic.4c781fe1.eot);
    src: url(/static/media/Roboto-ThinItalic.4c781fe1.eot?#iefix) format("embedded-opentype"),url(/static/media/Roboto-ThinItalic.4ced2a97.woff) format("woff"),url(/static/media/Roboto-ThinItalic.0fc25386.ttf) format("truetype"),url(/static/media/Roboto-ThinItalic.d3fa8217.svg) format("svg")
}

.App_App__2lytX {
    margin: 3em auto;
    padding: 15px;
    color: #525252;
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 16px;
    background-color: #f4f8fb;
    max-width: 688px
}

.App_Header__3jkzR h3 {
    color: #444;
    font-family: Arial,sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400
}

.App_Step__19vbB {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em
}

.App_Action__1NgpF {
    flex: 1 1 400px
}

.App_UploadingContainer__2UOBO {
    width: 100%;
    min-height: 300px
}

.App_UploadMessage__39RFB {
    text-align: center;
    line-height: 300px
}

.App_FileInfo__3Rw_5 {
    grid-area: File;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 15px
}

.App_Price__yhFk2 {
    grid-area: Price
}

.App_PriceTime__2hGCi {
    display: flex;
    justify-content: space-evenly
}

.App_Help__eIzBx {
    grid-area: Help;
    border-top: 2px solid #525252;
    text-align: center
}

.App_Slider__29nd7 {
    grid-area: Slider
}

.App_Continue__3oQ2B {
    grid-area: Submit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.App_Error__3ol6k {
    color: #ff5f6b;
    text-align: center;
    margin: 20px
}

.FileInfo_Holder__3KO98 dt {
    color: #444;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 19px;
    float: left;
    clear: left;
    width: 110px;
    font-style: italic;
    padding-top: 4px;
}

.FileInfo_Holder__3KO98 dd {
    margin-left: 150px
}

.PriceDisplay_Container__35VZx {
    font-family: Roboto,sans-serif;
    text-align: center
}

.PriceDisplay_Container__35VZx dt {
    color: #444;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
    padding-bottom: 8px
}

.PriceDisplay_Container__35VZx dd {
    color: #29343d;
    font-size: 20px;
    line-height: 24px;
    margin: 0
}

.TimeDisplay_Container__3rdoo {
    font-family: Roboto,sans-serif;
    text-align: center
}

.TimeDisplay_Container__3rdoo dt {
    color: #444;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
    padding-bottom: 8px
}

.TimeDisplay_Container__3rdoo dd {
    color: #29343d;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    min-width: 170px
}

.TimePickerField_Container__dUDYA {
    padding: 23px 0;
    position: relative
}

.TimePickerField_Tips__gb-AY {
    padding-top: 8px;
    color: #444;
    font-family: Roboto,sans-serif;
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 11px;
    text-align: center
}

.TimePickerField_Tips__gb-AY span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.TimePickerField_Fast__3mRXF {
    float: left
}

.TimePickerField_Cheap__2SOOi {
    float: right
}

@-webkit-keyframes TimePickerField_slider__3PXKN {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes TimePickerField_slider__3PXKN {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes TimePickerField_bounce__2OEjK {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%)
    }

    75% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes TimePickerField_bounce__2OEjK {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%)
    }

    75% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.rc-slider {
    position: relative;
    height: 14px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px
}

.rc-slider,.rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.rc-slider-rail {
    width: 100%
}

.rc-slider-rail,.rc-slider-track {
    position: absolute;
    height: 2px;
    border-radius: 6px
}

.rc-slider-track {
    left: 0
}

.rc-slider-handle {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    margin-top: -12px;
    margin-left: -12px;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px 0 rgba(0,0,0,.2);
    -webkit-animation-name: slider;
    animation-name: slider;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer
}

.rc-slider-handle-active:active,.rc-slider-handle:hover {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.rc-slider-handle-active:active {
    box-shadow: 0 0 5px #ff5f6b
}

.rc-slider-mark {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: 12px
}

.rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999
}

.rc-slider-mark-text-active {
    color: #666
}

.rc-slider-step {
    position: absolute;
    width: 100%;
    height: 2px;
    background: transparent
}

.rc-slider-dot {
    position: absolute;
    bottom: -3px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border: 2px solid #1a496b;
    background-color: #1a496b;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle
}

.rc-slider-dot-active {
    border: 2px solid #ff5f6b;
    background-color: #ff5f6b
}

.rc-slider-dot:first-child,.rc-slider-dot:last-child {
    margin-left: -4px
}

.rc-slider-tooltip-zoom-down-appear,.rc-slider-tooltip-zoom-down-enter,.rc-slider-tooltip-zoom-down-leave {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block!important;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active,.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active {
    -webkit-animation-name: rcSliderTooltipZoomDownIn;
    animation-name: rcSliderTooltipZoomDownIn;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
    -webkit-animation-name: rcSliderTooltipZoomDownOut;
    animation-name: rcSliderTooltipZoomDownOut;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.rc-slider-tooltip-zoom-down-appear,.rc-slider-tooltip-zoom-down-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: cubic-bezier(.23,1,.32,1);
    animation-timing-function: cubic-bezier(.23,1,.32,1)
}

.rc-slider-tooltip-zoom-down-leave {
    -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
    animation-timing-function: cubic-bezier(.755,.05,.855,.06)
}

@-webkit-keyframes rcSliderTooltipZoomDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes rcSliderTooltipZoomDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes rcSliderTooltipZoomDownOut {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes rcSliderTooltipZoomDownOut {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

.rc-slider-tooltip {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: visible
}

.rc-slider-tooltip,.rc-slider-tooltip * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.rc-slider-tooltip-hidden {
    display: none
}

.rc-slider-tooltip-placement-top {
    padding: 4px 0 8px
}

.rc-slider-tooltip-inner {
    padding: 6px 2px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #6c6c6c;
    border-radius: 6px;
    box-shadow: 0 0 4px #d9d9d9
}

.rc-slider-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    bottom: 4px;
    left: 50%;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #6c6c6c
}

@-webkit-keyframes UploadField_flash__1x7Uq {
    0%,50%,to {
        opacity: 1
    }

    25%,75% {
        opacity: .1
    }
}

@keyframes UploadField_flash__1x7Uq {
    0%,50%,to {
        opacity: 1
    }

    25%,75% {
        opacity: .1
    }
}

.UploadField_DragPrompt__1aH3X {
    border: 1px dashed #1a496b;
    border-radius: 16px;
    color: #444;
    text-align: center;
    padding: 8px
}

.UploadField_DragPrompt__1aH3X p {
    font-size: 10px;
    line-height: 11px;
    font-style: italic;
    font-family: Roboto,sans-serif;
    margin: 0
}

.UploadField_UploadingContainer__1roCq {
    width: 100%;
    height: 72px;
    padding-top: 15px
}

.UploadField_Accept__o3X77 .UploadField_DragPrompt__1aH3X {
    background: #1a496b;
    color: #fff;
    -webkit-animation-name: UploadField_flash__1x7Uq;
    animation-name: UploadField_flash__1x7Uq;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.UploadField_Button__2iO5W {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 8px;
    background-color: #1a496b;
    // margin-right: 24px
}

.UploadField_Button__2iO5W:hover {
    background-color: #1d648b
}

.UploadField_Button__2iO5W p {
    color: hsla(0,0%,100%,.7);
    font-size: 12px;
    letter-spacing: .7px;
    line-height: 14px;
    margin: 0;
    padding: 8px 32px
}

.UploadField_Button__2iO5W p,.UploadField_Grow__2q3Sc {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    text-align: center
}

.UploadField_Grow__2q3Sc {
    flex-grow: 1;
    color: #444;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px
}

.UploadField_Reject__1gh3o .UploadField_DragPrompt__1aH3X {
    position: relative;
    background: #ff5f6b
}

.UploadField_Reject__1gh3o .UploadField_DragPrompt__1aH3X:after {
    content: "x";
    position: absolute;
    color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    -webkit-animation-name: UploadField_flash__1x7Uq;
    animation-name: UploadField_flash__1x7Uq;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.UploadField_Error__2UNll {
    color: #ff5f6b;
    text-align: center;
    margin: 20px
}

.UploadField_ProgressHolder__3yajX {
    border: 1px solid #ff5f6b;
    width: 200px;
    height: 1em;
    margin: 0 auto
}

.UploadField_ProgressBar__PoswE {
    background: #ff5f6b;
    display: block;
    height: 100%
}

.UploadField_Uploading__9_fRO {
    text-align: center;
    color: #ff5f6b;
    -webkit-animation-name: UploadField_flash__1x7Uq;
    animation-name: UploadField_flash__1x7Uq;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.Button_Outline__69mNc {
    color: #fff;
    text-transform: uppercase;
    border-radius: 16px;
    background-color: #1a496b;
    cursor: pointer;
    font-style: normal;
    -webkit-font-feature-settings: normal,"subs" off,"sups" off;
    font-feature-settings: normal,"subs" off,"sups" off;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    -webkit-font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    margin-bottom: 0;
    overflow-wrap: break-word;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    top: 0;
    touch-action: manipulation;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    vertical-align: middle;
    visibility: visible;
    -moz-user-select: none;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 12px;
    letter-spacing: .93px;
    line-height: 18px
}

.Button_Outline__69mNc:hover {
    background-color: #1d648b
}

.Step_Container__wHBft {
    border-radius: 16px;
    background-color: #fff;
    padding: .5em;
    margin-right: 2em;
    flex: 1 1 200px;
    max-width: 140px;
}

.Step_Title__3GiJu {
    display: flex
}

.Step_Title__3GiJu .Step_Number__1QvLN {
    color: #1a496b;
    font-family: Arial,sans-serif;
    font-size: 56px;
    line-height: 65px;
    margin: 0;
    font-weight: 400
}

.Step_Title__3GiJu .Step_TitleText__1_fYQ {
    color: #29343d;
    font-family: Roboto,sans-serif;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 24px;
    margin: 8px 5px 0;
    font-weight: 400
}

.Step_Content__3IwdX {
    color: #29343d;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 300
}

/*# sourceMappingURL=main.82a88115.chunk.css.map */
