.section-title {
    color: $gris-dark;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    font-size: 1.7rem;
    position: relative;
    text-transform: uppercase;
    display: block;
    padding-top: 40px;
    margin-bottom: 40px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 20%;
        height: 1px;
        border: 1px solid $brand-secondary;
    }
}

.section-title::after {
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%);
    width: 15%;
    height: 1px;
    border: 1px solid $brand-secondary;
}

