// navigation display
.navigation {
    display: none;
}

// .navbar {
//     position: fixed !important;
//     opacity: 0;
// }

// .fixed-nav .navbar {
//     opacity: 1;
//     transition: opacity ease-in-out .3s;
// }

.landing-page {
    .mobile-alert {
        display: none;
    }
    display: flex;
    position: relative;

    .service-description {
        height: 100vh;
        flex: 0 0 50%;
        left: 0;
        background: linear-gradient(270.55deg, rgba(253,87,107,0.9) 0%, $brand-secondary 100%);
        position: relative;

        .logo {
            position: absolute;
            top: 4%;
            left: 20%;
            width: 80px;
            z-index: 1;
        }
        .service-description--content {
            position: absolute;
            top: 17%;
            left: 20%;
            max-width: 62%;
        }
        .service-description--subtitle {
            font-size: 1rem;
            position: relative;
            padding: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: arial;
            color: $blanc;
            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 2px;
                border: 1px solid $brand-primary-light;
            }
        }
        .service-description--title {
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 0.75px;
            text-shadow: 0 2px 2px rgba(0,0,0,0.5);
            font-family: arial;
            color: $blanc;
        }
        .service-description--text {
            font-family: Arial;	
            font-size: 1rem;	
            line-height: 32px;
            color: $blanc;
            font-weight: 100;
            margin-bottom: 64px;
        }
        
        .conversation-bubbles {
            position: absolute;
            left: 90%;
            top: 3%;
            width: 240px;
            z-index: 100;

        // &:hover .conversation-bubbles--bubble {
        //             transform: rotate(8deg);
        //             transition: transform ease-out .2s;
        //         }

            .conversation-bubbles--bubble {
                font-family: Arial;
                font-style: italic;
                color: $blanc;
                // background: $brand-primary-light;
                font-size: 1rem;
                display: block;
                position: relative;
                height: 48px;
                transform: rotate(-8deg);
                transition: transform ease-out .2s;

                &::before {
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: -26px;
                    height: 80%;
                    z-index: -1;
                }
            }

            .conversation-bubbles--bubble__first::before {
                background: url('../src/img/translation-bubble-bg_left.png');
                background-size: cover;
                width: 88%;
            }
            
            .conversation-bubbles--bubble__second::before {
                background: url('../src/img/translation-bubble-bg_right.png');
                background-size: cover;
                width: 94%;
            }

            .conversation-bubbles--text {
                z-index: 5;
                display: block;
            }
        }
    }

    .quick-quotation {
        flex: 0 0 50%;
        position: relative;

        .brian-icon-large {
            position: absolute;
            bottom: -5px;
            right: 0;
            width: 26%;
        }

        .quick-quotation--tool {
            width: 80%;
            margin: 0 auto;
        }
    }
 }

.why-brian {
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    background: $blanc;
    box-shadow: 
        0 3px 3px 0 rgba(0,0,0,0.14), 
        0 3px 4px 0 rgba(0,0,0,0.12), 
        0 1px 8px 0 rgba(0,0,0,0.2);
    max-width: 1168px;
    min-width: 75%;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;

    &:hover .section-title::after {
        width: 100%;
        transition: width ease-out .6s;
    }

    .why-brian--items {
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;
    }

    .why-brian--icon {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        background: #F4F8FB;
        position: relative;
    }

    .why-brian--icon__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .why-brian--item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why-brian--title {
        text-transform: uppercase;
        color: $brand-secondary;
        font-family: arial;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: .75px;
        text-align: center;
        margin-top: 32px;
        max-width: 70%;
        min-height: 48px;
    }

    .why-brian--text {
        font-family: arial;
        font-size: 1rem;
        max-width: 70%;
    }

    .cta {
        padding: 8px 64px;
        margin-bottom: 32px;
        display: inline-block;
    }   
}

.clients {
    margin: 0 auto 128px;
    max-width: 1200px;
    padding-top: 64px;
    text-align: center;

    &:hover .section-title::after {
        width: 100%;
        transition: width ease-out .6s;
    }

    .nav.nav-tabs {
        margin-top: 32px;
        border-bottom: none;
        align-items: center;
        justify-content: center;
    }

    .nav-link.active {
        border: none !important;

        .clients--logo {
            opacity: 1 ;
        }
    }

    .nav-link:hover {
        border: none;

        .clients--logo {
            opacity: 1;
        }
    }

    .clients--logo {
        width: 148px;
        opacity: .4;
    }

    .tab-pane {
        text-align: center;

        .clients--quote {
            font-size: 1.5rem;
            color: $gris-dark;
            max-width: 50%;
            margin: 0 auto;
            font-family: roboto;
            font-weight: 400;
            margin-top: 32px;
            margin-bottom: 32px;
        }

        .clients--name {
            font-size: 1.2rem;
            font-family: roboto;
            font-weight: 300;
        }

        .clients--role {
            font-size: 1.2rem;
            font-family: roboto;
            font-weight: 300;
            font-style: italic;
        }
    }
}

.partners {
    background-color: $grisp;
    padding-bottom: 32px;
    margin-bottom: 128px;
    text-align: center;

    &:hover .section-title::after {
        width: 100%;
        transition: width ease-out .6s;
    }

    .partners--logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 32px
    }

    .partner--logo {
        width: 15%;
    }
}

// .blog-preview {
//     max-width: 1200px;
//     margin: 0 auto 128px;
//     text-align: center;

//     .blog-articles {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin-bottom: 32px;
//     }

//     .blog-article {
//         max-width: 25%;
//         text-align: left;
//     }

//     .blog-article--image {
//         width: 100%;
//     }

//     .blog-article--title {
//         font-size: 1.5rem;
//         color: $gris-dark;
//         font-weight: 500;
//         margin-top: 8px;
//         margin-bottom: 4px;
        
//     }

//     .blog-article--text {
//         font-size: 1rem;
//         color: $gris-dark;
//         font-weight: 300;
//         margin-bottom: 16px;
        
//     }

//     .cta {
//         padding: 8px 64px;
//         margin-bottom: 32px;
//         margin-top: 32px;
//         display: inline-block;
//     } 
// }

.blog-preview {
    text-align: center;
    margin: 0 auto 96px;

    &:hover .section-title::after {
        width: 100%;
        transition: width ease-out .6s;
    }

    .acf-rpw-ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        .acf-rpw-li {
            flex: 0 0 25%;
        }

        .acf-rpw-img {
            height: 150px;
            width: 150px;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
        }

        .acf-rpw-img:hover .acf-rpw-thumb {
            transform: scale(1.2);
            transition: transform .4s;
        }

        .acf-rpw-thumb {
            border-radius: 50%;
            transition-timing-function: ease-in;
            transition: 0.2s;
        }

        .acf-rpw-title {
            text-align: left;
            font-size: 1.5rem;
            
            font-weight: 500;
            margin-top: 8px;
            margin-bottom: 4px;

            a {
                color: $gris-dark;
            }
        }

        .acf-rpw-excerpt {
            font-size: 1rem;
            color: $gris-dark;
            font-weight: 300;
            margin-bottom: 16px;
            text-align: left;

            .understrap-read-more-link {
                color: $gris-dark;
                padding: 0;
                background: none;
                border: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .cta {
        padding: 8px 64px;
        margin-bottom: 32px;
        margin-top: 32px;
        display: inline-block;
    } 
}

.app-download {
    background-color: $brand-secondary;
    padding-bottom: 32px;
    text-align: center;

    &:hover .section-title::after {
        width: 100%;
        transition: width ease-out .6s;
    }
    

    .section-title {
        color: $blanc;

        &:after {
            border-color: $blanc;
        }
    }

    .app-download--text {
        color: $blanc;
        font-size: 1rem;
    }

    .stores--logos {
        display: flex;
        justify-content: center;
    }

    .stores--logo {
        width: 120px;
       
        &:first-child {
            margin-right: 16px;
        }

        &:last-child {
            margin-left: 16px;
        }
    }
}